<li class="committer">
  <h2><%= account.username %></h2>
  <dl>

    <% unless account.names.empty? %>
      <dt>Names:</dt>
      <dd>
        <ul>
          <%= render :partial => 'name', :collection => account.names %>
        </ul>
      </dd>
    <% end %>

    <% unless account.nicks.empty? %>
      <dt>Nicknames:</dt>
      <dd>
        <ul>
          <%= render :partial => 'name', :collection => account.nicks %>
        </ul>
      </dd>
    <% end %>

    <% unless account.sites.empty? %>
      <dt>Sites:</dt>
      <dd>
        <ul>
          <%= render :partial => 'site', :collection => account.sites %>
        </ul>
      </dd>
    <% end %>

    <% unless account.services.empty? %>
      <dt>Services:</dt>
      <dd>
        <ul>
          <%= render :partial => 'service', :collection => account.services %>
        </ul>
      </dd>
    <% end %>

    <% unless account.portraits.empty? %>
      <%= render :partial => 'portrait', :collection => account.portraits %>
    <% end %>

    <!-- FIXME: unsure how to link to ISBN. :-( -->
    <!--
    <% unless account.books.empty? %>
      <dt>Books:</dt>
      <dd>
        <ul>
          <% account.books.each do |book| %>
            <li><%= book.key %></li>
          <% end %>
        </ul>
      </dd>
    <% end %>
    -->
  </dl>
</li>
